/* Variables Start */
:root {
    --main-color: #de9d61;
    --text-color-light: #a6a6a5;
    --text-color-dark: #8a8885;
    --padding-top: 2rem;
    --padding-bottom: 2rem
}

@font-face {
    font-family: "baskervi";
    src: url(../webfonts/baskervi.woff) format("woff"),
    ;
}

@font-face {
    font-family: "black-jack-regular";
    src: url(../webfonts/black_jack_regular-webfont.woff);
}

/* Variables End */
/* Start Media Queries  */
/* @media (max-width: 575.98px) {}

/*  Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {} */

/* X-Large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) {} */
*/

/* End Media Queries  */
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "baskervi", sans-serif;
}

header .container {
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    background: url(../images/right-texture.png) no-repeat center center;
    width: 100%;
    height: 45%;
    right: -36%;
    bottom: -30%;
    z-index: -1;
}

/* heading start */
.container .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;

}

.container .heading h1 {
    font-size: 5rem;
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin: 3rem auto 0;
    flex: 1;
}

.container .heading p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
    flex: 1;
    margin: 3rem 0 3rem;

}

/* heading end */
/* start header links  */
.container .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.container .links ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.container .links ul li {
    list-style: none;
    text-decoration: none;
    padding: 2rem 2rem;
}

.container .links ul li a {
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: 0.9rem;
    text-transform: uppercase;
}

.container .links ul:nth-of-type(2) li a {
    font-weight: bold;
    margin: 0 auto;
}

.fa-search {
    display: none;
}

.fa-bars {
    display: none
}

.container .offers ul {
    display: flex;
    justify-content: center;
    margin: 2.5rem 2rem 0.9rem;
    list-style-type: none;
}

.container .offers ul li {
    margin-left: 3rem
}

.container .offers ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
}

.container .main-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container .main-img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container .main-img .form {
    width: 100%;
}

.container .sign-up {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 50rem;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.container .sign-up input[type="email"] {
    text-transform: uppercase;
    display: block;
    width: 10rem;
    height: 1.5rem;
    margin: 0 auto;
    font-size: 0.6rem;
    padding: 0.5rem 1rem 0.1rem;
}

.container .sign-up button {
    text-transform: uppercase;
    display: block;
    width: 10rem;
    height: 1.8rem;
    margin: 1rem auto;
    background-color: var(--main-color);
    border: none;
    color: white;
}

/* Start Header Media Query  */
@media (min-width:768px) {
    .container .links {
        flex-direction: column;
    }

    input[type="search"] {
        margin: 1.5rem
    }

}

@media (min-width:1350px) {
    .container .links {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .container .links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;
    }

    .container h1 {
        font-size: 0.7rem;
    }

    .container .links ul {
        margin: 1.5rem 0;
        padding: 0;
    }

    .container .links .fa-search {
        display: inline-block;
        margin-left: 2rem;
    }

    .container .links .fa-bars {
        display: inline-block;
        margin-left: 2rem;
    }

    input[type=search] {
        display: none;
    }

    .container .links ul {
        display: none
    }

    .container .links .toggle-menu:hover+ul {
        display: flex;
    }

    .container .offers ul {
        display: block;
        margin: 3rem auto 2rem;
        padding: 0;
    }

    .container .offers ul li {
        text-align: center;
        padding: 0;
        margin: 2rem;
    }

}

@media (max-width:500px) {
    .container .sign-up {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        top: 0;
        margin-top: 2rem;
    }


}

/* End Header Media Query  */
/* Start Section 1 */
.section1 {
    margin: 0 auto;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.section1 .container {
    width: 70vw;
}



.section1 h2 {
    text-align: center;
    font-size: 2rem;
    height: 100%;
    color: var(--main-color);
    margin: 3.5rem 0;

}

.section1 h2::first-letter {
    text-transform: uppercase;
}

.section1 .tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
}

.section1 .tip {
    width: 25%;
}

.section1 .tip p {
    padding: 0;
}

@media (max-width: 768px) {
    .section1 .container .tips {
        flex-basis: 50%;
    }

    .section1 .container .tips .tip {
        width: 100%
    }

    .section1 .container .tips .tip img {
        width: 100%;
    }

    .section1 .container .tips .tip p {
        margin: 0 auto;
        padding: 1rem;
    }

}

@media (min-width: 768px) {
    .section1 {
        width: 90vw;
    }

    .section1 .container .tips {
        flex-basis: 35%;
        gap: 1rem 1rem;
    }

    .section1 .container .tips .tip {
        flex-basis: 35%;
    }
}

@media (min-width: 991px) {
    .section1 .container .tips .tip {
        flex-basis: 25%;
    }
}

.section1 .tips .tip img {
    width: 100%;
}

.section1 .tips .tip img:nth-of-type(3) {
    width: 100%;
    height: 100%;
    display: none;
}

.section1 .tips .tip p {
    /* display: flex; */
    background-color: rgb(140, 140, 140);
    color: white;
    height: 3rem;
    align-items: center;
    top: 0;
    left: 0;
    padding: 1rem;
    word-wrap: break-word;
    margin: 0;
}


.section1 .section1-bottom-p {
    font-size: 0.7rem;
    text-align: center;
    width: 90%;
    margin: 1rem auto;
}

/* Section1 Media Queries */


/* Section1 Media Queries */

/* End Section 1 */

/* Start Section 2  */
.section2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.section2 .heading {
    display: block;
    flex-direction: column;
    flex-basis: 30%;
    margin-left: 5rem;
}

.section2 .heading h2 {
    font-size: 1.7rem;
    font-weight: 400;
    width: 50%;
    color: var(--main-color);
    line-height: 1.3;
    margin: 0 0 3rem;

}

.section2 .heading h2::first-letter {
    text-transform: uppercase;
}

.section2 .heading p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color-dark);
    width: 70%;
    line-height: 1.3;
    margin: 0 0 1.6rem;
}

.section2 .heading p::first-letter {
    text-transform: uppercase;
}

.section2 .heading span {
    text-transform: capitalize;
}

.section2 .heading button {
    border: none;
    background-color: var(--main-color);
    width: fit-content;
    padding: 0.4rem 0.4rem 0.4rem 1.5rem;
    width: 12rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.section2 .heading h3 {
    margin: 4rem 0;
    font-family: "black-jack-regular", sans-serif;
    font-weight: normal;
    color: var(--text-color-light);
    font-size: 1.5rem;
}

.section2 .heading h3::first-letter {
    text-transform: uppercase;
}

.section2 .heading h3::first-letter {
    text-transform: capitalize;
}

.section2 .main-img {
    align-items: center;
    position: relative;
    flex-basis: 60%;
    height: 100%;
}

.section2 .main-img img {
    width: 100%;
}

@media (max-width:991px) {
    .section2 {
        flex-direction: column;
    }

    .section2 .heading {
        order: -1;
        flex-basis: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .section2 .heading h2 {
        margin: 2rem auto;
    }

    .section2 .heading p {
        margin: 2rem auto;
    }

    .section2 .heading button {
        margin: 2rem auto;
    }

    .section2 .heading h3 {
        margin: 1rem auto 3rem;
    }

    .section .main-img {
        flex-basis: 100%;
    }
}

.section2 .main-img img:nth-child(2) {
    position: absolute;
    width: 40%;
    right: 0rem;
    bottom: 0rem;
}


/* End Section 2 */

/* Start Section 3  */
.section3 {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

@media (max-width:991px) {
    .section3 .main-img {
        display: none;
    }
}

.section3 .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 60%;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    padding-right: 4rem;
}

@media (max-width:991px) {
    .section3 .heading {
        margin: 0 auto;
        height: 100%;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        padding: 5rem 3rem;
        background: url(../images/section-3-texture.png) no-repeat center left;

    }
}

.section3 .heading img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    opacity: 0.8;
    z-index: -1;
}

@media (max-width:991px) {
    .section3 .heading img {
        display: none;
    }
}

.section3 .heading h2 {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 0.3rem;
    width: 100%;
    inline-size: 23rem;
}

.section3 .heading h2::first-letter {
    text-transform: capitalize;
}

.section3 .heading h3 {
    color: var(--text-color-dark);
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-right: 3rem;
    font-weight: 400;
}

.section3 .heading h3:first-of-type::first-letter {
    text-transform: uppercase;
}

.section3 form input {
    display: block;
    width: 23rem;
    height: 1.8rem;
    margin-bottom: 0.8rem;

}

.section3 form button {
    width: 23.5rem;
    height: 1.8rem;
    background-color: var(--main-color);
    border: none;
    color: white;
    text-transform: uppercase;
}

.section3 p {
    inline-size: 23rem;
    color: var(--text-color-light);
    font-size: 0.8rem;
}

.section3 .main-img {
    flex-basis: 40%;
}

.section3 .main-img img {
    width: 100%;
    height: 40rem;
}


/* Variables Start */
:root {
    --main-color: #de9d61;
    --text-color-light: #a6a6a5;
    --text-color-dark: #8a8885;
    --padding-top: 2rem;
    --padding-bottom: 2rem
}

@font-face {
    font-family: "baskervi";
    src: url(../webfonts/baskervi.woff) format("woff"),
    ;
}

@font-face {
    font-family: "black-jack-regular";
    src: url(../webfonts/black_jack_regular-webfont.woff);
}

/* Variables End */
/* Start Media Queries  */
/* @media (max-width: 575.98px) {}

/*  Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {} */

/* X-Large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) {} */
*/
/* End Media Queries  */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "baskervi", sans-serif;
}

.container {
    width: 80vw;
    margin: 0 auto;
}


/* heading start */
.container .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;

}

.container .heading h1 {
    font-size: 5rem;
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin: 3rem auto 0;
    flex: 1;
}

.container .heading p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
    flex: 1;
    margin: 3rem 0 3rem;

}

/* heading end */
/* start header links  */
.container .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.container .links ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.container .links ul li {
    list-style: none;
    text-decoration: none;
    padding: 2rem 2rem;
}

.container .links ul li a {
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: 0.9rem;
    text-transform: uppercase;
}

.container .links ul:nth-of-type(2) li a {
    font-weight: bold;
    margin: 0 auto;
}

.fa-search {
    display: none;
}

.fa-bars {
    display: none
}

.container .offers ul {
    display: flex;
    justify-content: center;
    margin: 2.5rem 2rem 0.9rem;
    list-style-type: none;
}

.container .offers ul li {
    margin-left: 3rem
}

.container .offers ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
}

.container .main-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container .main-img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container .main-img .form {
    width: 100%;
}

.container .sign-up {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 50rem;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.container .sign-up input[type="email"] {
    text-transform: uppercase;
    display: block;
    width: 10rem;
    height: 1.5rem;
    margin: 0 auto;
    font-size: 0.6rem;
    padding: 0.5rem 1rem 0.1rem;
}

.container .sign-up button {
    text-transform: uppercase;
    display: block;
    width: 10rem;
    height: 1.8rem;
    margin: 1rem auto;
    background-color: var(--main-color);
    border: none;
    color: white;
}

/* Start Header Media Query  */
@media (min-width:768px) {
    .container .links {
        flex-direction: column;
    }

    input[type="search"] {
        margin: 1.5rem
    }

}

@media (min-width:1350px) {
    .container .links {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .container .links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;
    }

    .container h1 {
        font-size: 0.7rem;
    }

    .container .links ul {
        margin: 1.5rem 0;
        padding: 0;
    }

    .container .links .fa-search {
        display: inline-block;
        margin-left: 2rem;
    }

    .container .links .fa-bars {
        display: inline-block;
        margin-left: 2rem;
    }

    input[type=search] {
        display: none;
    }

    .container .links ul {
        display: none
    }

    .container .links .toggle-menu:hover+ul {
        display: flex;
    }

    .container .offers ul {
        display: block;
        margin: 3rem auto 2rem;
        padding: 0;
    }

    .container .offers ul li {
        text-align: center;
        padding: 0;
        margin: 2rem;
    }

}

@media (max-width:500px) {
    .container .sign-up {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        top: 0;
        margin-top: 2rem;
    }


}

/* End Header Media Query  */
/* Start Section 1 */
.section1 {
    margin: 0 auto;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.section1 .container {
    width: 70vw;
}



.section1 h2 {
    text-align: center;
    font-size: 2rem;
    height: 100%;
    color: var(--main-color);
    margin: 3.5rem 0;

}

.section1 h2::first-letter {
    text-transform: uppercase;
}

.section1 .tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
}

.section1 .tip {
    width: 25%;
}

.section1 .tip p {
    padding: 0;
}

@media (max-width: 768px) {
    .section1 .container .tips {
        flex-basis: 50%;
    }

    .section1 .container .tips .tip {
        width: 100%
    }

    .section1 .container .tips .tip img {
        width: 100%;
    }

    .section1 .container .tips .tip p {
        margin: 0 auto;
        padding: 1rem;
    }

    .section1 .container .tips .tip:nth-of-type(4) img {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .section1 .container .tips .tip {
        flex-basis: 35%;
    }
}

@media (min-width: 991px) {
    .section1 .container .tips .tip {
        flex-basis: 25%;
    }
}

.section1 .tips .tip img {
    width: 100%;
}

.section1 .tips .tip p {
    /* display: flex; */
    background-color: rgb(140, 140, 140);
    color: white;
    height: 3rem;
    align-items: center;
    top: 0;
    left: 0;
    padding: 1rem;
    word-wrap: break-word;
    margin: 0;
}


.section1 .section1-bottom-p {
    font-size: 0.7rem;
    text-align: center;
    width: 90%;
    margin: 1rem auto;
}

/* Section1 Media Queries */


/* Section1 Media Queries */

/* End Section 1 */

/* Start Section 2  */
.section2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.section2 .heading {
    display: block;
    flex-direction: column;
    flex-basis: 30%;
    margin-left: 5rem;
}

.section2 .heading h2 {
    font-size: 1.7rem;
    font-weight: 400;
    width: 50%;
    color: var(--main-color);
    line-height: 1.3;
    margin: 0 0 3rem;

}

.section2 .heading h2::first-letter {
    text-transform: uppercase;
}

.section2 .heading p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color-dark);
    width: 70%;
    line-height: 1.3;
    margin: 0 0 1.6rem;
}

.section2 .heading p::first-letter {
    text-transform: uppercase;
}

.section2 .heading span {
    text-transform: capitalize;
}

.section2 .heading button {
    border: none;
    background-color: var(--main-color);
    width: fit-content;
    padding: 0.4rem 0.4rem 0.4rem 1.5rem;
    width: 12rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.section2 .heading h3 {
    margin: 4rem 0;
    font-family: "black-jack-regular", sans-serif;
    font-weight: normal;
    color: var(--text-color-light);
    font-size: 1.5rem;
}

.section2 .heading h3::first-letter {
    text-transform: uppercase;
}

.section2 .heading h3::first-letter {
    text-transform: capitalize;
}

.section2 .main-img {
    align-items: center;
    position: relative;
    flex-basis: 60%;
    height: 100%;
}

.section2 .main-img img {
    width: 100%;
}

@media (max-width:991px) {
    .section2 {
        flex-direction: column;
    }

    .section2 .heading {
        order: -1;
        flex-basis: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .section2 .heading h2 {
        margin: 2rem auto;
    }

    .section2 .heading p {
        margin: 2rem auto;
    }

    .section2 .heading button {
        margin: 2rem auto;
    }

    .section2 .heading h3 {
        margin: 1rem auto 3rem;
    }

    .section .main-img {
        flex-basis: 100%;
    }
}

.section2 .main-img img:nth-child(2) {
    position: absolute;
    width: 40%;
    right: 0rem;
    bottom: 0rem;
}


/* End Section 2 */

/* Start Section 3  */
.section3 {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

@media (max-width:991px) {


    .section3 .main-img {
        display: none;
    }

}

.section3 .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 60%;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    padding-right: 4rem;
}

@media (max-width:991px) {
    .section3 .heading {
        margin: 0 auto;
        height: 100%;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        padding: 5rem 3rem;
        background: url(../images/section-3-texture.png) no-repeat center left;

    }
}

.section3 .heading img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    opacity: 0.8;
    z-index: -1;
}

@media (max-width:991px) {
    .section3 .heading img {
        display: none;
    }
}

.section3 .heading h2 {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 0.3rem;
    width: 100%;
    inline-size: 23rem;
}

.section3 .heading h2::first-letter {
    text-transform: capitalize;
}

.section3 .heading h3 {
    color: var(--text-color-dark);
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-right: 3rem;
    font-weight: 400;
}

.section3 .heading h3:first-of-type::first-letter {
    text-transform: uppercase;
}

.section3 form input {
    display: block;
    width: 23rem;
    height: 1.8rem;
    margin-bottom: 0.8rem;

}

.section3 form button {
    width: 23.5rem;
    height: 1.8rem;
    background-color: var(--main-color);
    border: none;
    color: white;
    text-transform: uppercase;
}

.section3 p {
    inline-size: 23rem;
    color: var(--text-color-light);
    font-size: 0.8rem;
}

.section3 .main-img {
    flex-basis: 40%;
}

.section3 .main-img img {
    width: 100%;
    height: 40rem;
}

/* End Section 3  */

/* Start Section 4  */
.section4 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80vw;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section4::after {
    content: "";
    position: absolute;
    background: url(../images/right-texture.png) no-repeat center center;
    width: 100%;
    height: 100%;
    right: -50%;
    bottom: -20%;
    z-index: -1;
}

.section4 h2 {
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.section4 .tips {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .tips .tip:nth-child(1) {
    position: relative;
    align-self: flex-end;
}

.section4 .tips .tip:nth-child(2) h3 {
    font-weight: 400;
    color: var(--main-color);
    inline-size: 16rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.section4 .tips .tip:nth-child(2) h3::first-letter {
    text-transform: uppercase;
}

.section4 .tips .tip:nth-child(3) {
    align-self: flex-start;
}

.section4 .tips .tip:first-of-type::before {
    position: absolute;
    content: "";
    background: url(../images/section-4-left-shape.png) no-repeat;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    z-index: -1;
}


.section4 .tips .tip:first-of-type::after {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    top: -2rem;
    right: -0.4rem;
    z-index: -1;
}

.section4 .tips h4 {
    display: inline-block;
    width: 100%;
    background-color: var(--text-color-dark);
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}

.section4 .tips h4 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.section4 .tips img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@media (max-width:991px) {
    .section4 .tips {
        flex-direction: column;
    }

    .section4 .tips .tip {
        width: 100%;
    }

    .section4 .tips .tip1 {
        margin: 4rem 0 5rem;
    }

    .section4 .tips .tip2 {
        margin: 2rem 0 2rem;
    }

    .section4 .tips .tip2 h3 {
        margin: 4rem auto 2rem;
    }

    .section4 .tips .tip:first-of-type::after {
        width: 45%;
        margin-right: 1rem;
        margin-bottom: 1rem;
        height: 1.5rem;
        top: -2rem;
        right: 7.3rem;
        z-index: -1;
    }
}

/* End Section 4  */


/* Start Section 5  */
.section5 {
    display: flex;
    position: relative;
    width: 80vw;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.section5::after {
    content: "";
    position: absolute;
    background: url(../images/section-5-right-shape.png) no-repeat center center;
    width: 100%;
    height: 50%;
    bottom: -15%;
    right: -35%;
    z-index: -1;
}

.section5 .heading {
    text-align: right;
    padding-right: 1.5rem;
}

.section5 .heading h2 {
    color: var(--main-color);
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.section5 .heading p {
    text-transform: capitalize;
    font-size: 1.6rem;
    color: var(--text-color-dark);
    width: 100%;
    padding-bottom: 2rem;

}

.section5 .heading h3 {
    font-family: "black-jack-regular", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-color-dark);
    padding-top: 1rem;
}

.section5 .images {
    flex-basis: 60%;
}

.section5 .images .images-container {
    position: relative;
}

.section5 .images .images-container .img1 {
    width: 100%;
}

.section5 .images .images-container::before {
    content: "";
    position: absolute;
    background: url(../images/section-5-left-shape.png) no-repeat center center;
    height: 100%;
    width: 100%;
    bottom: -13rem;
    left: -13.5rem;
}

.section5 .images .images-container::after {
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 2rem;
    height: 35%;
    top: 0.5rem;
    right: 4rem;
}

.section5 .images .images-container img:last-of-type {
    width: 35%;
    position: absolute;
    bottom: -6rem;
    right: 12rem;

    @media(max-width:787px) {
        .section5 {
            flex-wrap: wrap
        }
    }
}
    /* End Section 5  */